<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="jsonMapper" class="com.javaprogram.modulespringcore.util.json.JsonMapper"/>
    <bean id="paginator"
          class="com.javaprogram.modulespringcore.util.Paginator"
          p:warnMessage="Invalid data passed for pagination: page size = {}, page number = {}"/>

    <bean id="idGenerator" class="com.javaprogram.modulespringcore.util.IdGenerator"/>
    <bean class="com.javaprogram.modulespringcore.util.postprocessor.BindStaticDataAnnotationBeanPostProcessor"
          p:startInfoMessage="Started binding..."
          p:finishInfoMessage="Successfully finished binding"
          p:jsonMapper-ref="jsonMapper"
          p:generator-ref="idGenerator"
          autowire="no"/>
    <bean id="eventRepository" class="com.javaprogram.modulespringcore.repositories.EventRepository" autowire="no">
        <property name="paginator" ref="paginator"/>
        <property name="generator" ref="idGenerator"/>
    </bean>
    <bean id="ticketRepository" class="com.javaprogram.modulespringcore.repositories.TicketRepository" autowire="no">
        <property name="paginator" ref="paginator"/>
        <property name="generator" ref="idGenerator"/>
    </bean>
    <bean id="userRepository" class="com.javaprogram.modulespringcore.repositories.UserRepository" autowire="no">
        <property name="paginator" ref="paginator"/>
        <property name="generator" ref="idGenerator"/>
    </bean>
    <bean id="eventService" class="com.javaprogram.modulespringcore.services.EventService" autowire="constructor"/>
    <bean id="ticketService" class="com.javaprogram.modulespringcore.services.TicketService" autowire="constructor"/>
    <bean id="userService" class="com.javaprogram.modulespringcore.services.UserService" autowire="constructor"/>
    <bean id="bookingFacade" class="com.javaprogram.modulespringcore.services.facade.BookingFacadeImpl" autowire="no">
        <constructor-arg ref="eventService"/>
        <constructor-arg ref="ticketService"/>
        <constructor-arg ref="userService"/>
    </bean>
</beans>